[2016-08-04 07:52] critot opened #1 "registration procedure error"
Hi,
thank you for your wonderful work,  that I'm testing to use it in my azure app.
I think there is a bug in the registration procedure, in particular:
when I register a new user with an email that already exist, I get this error

Object reference not set to an instance of an object
GetUserIdAsync

stack:
System.NullReferenceException: Object reference not set to an instance of an object.
   at E

[2016-08-08 15:27] turowicz commented on #1
I have the same error here - only with no users in table

[2016-08-15 13:04] hossamdarwish commented on #1
I have the same error here with no users in table, the User Id is not generated and returns Null when calling GetUserIdAsync.

My workaround is generate the User Id explicitly in your ApplicationUser Model like this

`public class ApplicationUser : IdentityUser
    {
        public ApplicationUser()
        {
            GenerateKeys();
        }
    }`
HTH till we have a fix

[2016-08-23 15:14] DeveloperUniversity opened #2 "Sample app references v. 1.6 which doesn't exist in NuGet"
When attempting to load the MVC5 sample, (\identityazuretable-master\sample\), to work with the "samplemvc" project, and then Restore NuGet Packages for Solution, you'll get an exception:

NuGet Package restore failed for project samplemvc: Unable to find version '1.6.0' of package 'ElCamino.AspNet.Identity.AzureTable'.
  https://www.myget.org/f/aspnetmaster/api/v3/index.json: Package 'ElCamino.As

[2016-08-23 15:22] DeveloperUniversity opened #3 "Feature Request: Supporting Multi-tenancy w/ change to Partition Key"
Hi, right now, for a given user, both the Partition Key and Row Key are set to the HTML encoded version of the user's email address.

However, to support multi-tenancy, I think all you would need to do is change Partition Key to the ID of the tenant website.  Admittedly, most applications are not multi-tenant, so this would always be the name of the only tenant, the website's name or some default.

[2016-08-23 15:23] DeveloperUniversity commented on #3
BTW, I would be willing to help implement this.  However it would be a breaking change for those already using El Camino.

[2016-08-23 16:16] dlmelendez commented on #3
@DeveloperUniversity I see where you want to take your code and yes this would be a big change to the existing code base. Here is my thought on key generation after thinking through this kind of request and other requests that feel strongly how keys should be managed... In the next release, I am planning to open up the basekeyhelper class to be extended and added as a generic parameter to the cont

[2016-08-23 16:18] dlmelendez commented on #2
Yes, that is a bug. 1.6 has been delayed a bit. This should be fixed once I get 1.6 out the door.
Thanks,
Dave

[2016-08-23 16:19] dlmelendez commented on #1
Looking in to this. Been afk for a while.
Thanks,
Dave

[2016-08-23 16:39] DeveloperUniversity commented on #3
First of all, I love what you've done.  I strongly commend you and encourage you to continue.

Second, thanks for the super fast response.

Third, the basekeyhelper class idea could help.  At least, it would get me past that hurdle, I think.

I'm in research mode right now trying to understand how ASP.NET Identity works (esp. in light of a multi-tenant scenario).

[2016-08-23 16:41] DeveloperUniversity commented on #2
Thank you, and fwiw, I was able to simply follow your well written instructions here:

https://dlmelendez.github.io/identityazuretable/#/walkthrough

... and it only took a few minutes to get up and running.

[2016-08-25 14:46] #3 closed

[2016-08-29 04:12] dlmelendez commented on #1
Make sure you as using the Azure storage library WindowsAzure.Storage 7.1.3-preview.
7.2 has a bug that I reported here: [https://github.com/Azure/azure-storage-net/issues/341](url) . Please give this a shot and let me know if you are still seeing a problem.

[2016-08-29 10:06] aduwillie opened #4 "Password Rules"
I've hooked up your library to my project. To be honest, it's a great piece of work. But, how do i set password rules like in the EF library?

[2016-08-29 15:34] dlmelendez commented on #4
Password rules are handled as part of the MS Identity Framework via the UserManager.PasswordValidator. See [https://github.com/dlmelendez/identityazuretable/blob/master/sample/samplemvc/App_Start/IdentityConfig.cs](url) line 38: `            // Configure validation logic for passwords
            manager.PasswordValidator = new PasswordValidator
            {
                RequiredLength = 6,

[2016-08-29 15:34] #4 closed

[2016-08-30 09:32] critot commented on #1
yes, I'm using WindowsAzure.Storage 7.1.3-preview; the bug I described is simple to reproduce, could you take a look?
thank you

[2016-08-30 12:08] aduwillie commented on #4
Thanks pal. I'd say, keep up the good work

[2016-08-31 21:35] dlmelendez commented on #1
I have a fix that I am testing now. However, I am investigating a possible bug in the identity core framework that is not adding the duplicate username and email error descriptions correctly.

[2016-09-05 10:04] critot opened #5 "Store does not implement IQueryableUserStore<TUser>"
Hi,
when I try to get all users stored in aspnetusers table:
var users = _userManager.Users;

I get this error

NotSupportedException: Store does not implement IQueryableUserStore<TUser>.
get_Users

thank you

[2016-09-06 16:09] dlmelendez commented on #1
Fixed with release 1.6 the above workaround should no longer be used. Thanks for reporting the issue!

[2016-09-06 16:09] #1 closed

[2016-09-06 16:10] dlmelendez commented on #2
Fixed with 1.6 release.

[2016-09-06 16:10] #2 closed

[2016-09-06 16:14] dlmelendez commented on #5
This is due to the azure storage library not supporting linq queries. Any help on implementing the expression filter would be appreciated and kind of tricky to make it perform well.

[2016-09-06 23:56] mstrong64 opened #6 "Use hash of login details as index key for external/social logins"
We are planning on only allowing registration via external identity providers: Google, FB, Yahoo and MS. The implemented strategy for external logins will only allow a small number of partitions for this table, which could adversely affect performance, although according to Troy Hunt (http://www.troyhunt.com/2013/12/working-with-154-million-records-on.html), partitions with 30M+ entities still pro

[2016-09-07 00:33] mstrong64 commented on #5
There is an implementation of IQueryable at https://github.com/dtretyakov/WindowsAzure. Personally I would be inclined to get a list of users another way :)

[2016-09-07 07:37] critot commented on #1
it works! thank you

[2016-09-29 09:50] rocifier opened #7 "StorageException when registering user"
When I register a user in the .net core sample website (the tables are newly created), I get this exception thrown every time:

[code]

at Microsoft.WindowsAzure.Storage.Core.Executor.Executor.<ExecuteAsyncInternal>d__4`1.MoveNext()\n--- End of stack trace from previous location where exception was thrown ---\n   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)\n   at S

[2016-09-29 14:30] dlmelendez commented on #7
This caused by a bug in the storage library https://github.com/Azure/azure-storage-net/issues/341 . The fix is to use version "WindowsAzure.Storage": "7.1.3-preview" as this bug was introduced after this release. The storage library team says the fix is slated for v8.

[2016-09-30 01:38] #6 closed

[2016-09-30 07:24] rocifier commented on #7
Thank you so much! That worked. Ah, preview libraries...

[2016-10-23 03:19] dlmelendez commented on #7
Update: Looks like this is slated for CY 16 for storage 8.0 release to be fixed in the storage library. https://github.com/Azure/azure-storage-net/issues/341

[2016-11-16 15:36] jennet opened #8 "Save config values in ServiceConfiguration.cscfg"
My app settings go in ServiceConfiguration.XXXX.cscfg for my various cloud deployments, is there a way of overwriting the config settings so I can pass in my own IdentityConfiguration? (rather than it pulling values from a configSection of the Web.Config)

[2016-11-16 15:38] jennet commented on #8
Hang on... I think I've just found the method to do just that....

[2016-11-16 16:20] jennet commented on #8
In case anyone else stumbles across this, I created a new class inheriting from IdentityConfiguration in my IdentityModels file and set the values by grabbing them out of the ServiceConfiguration.cscfg file.
I then passed this in when creating an ApplicationDbContext

[2016-11-16 16:20] #8 closed

[2016-11-16 16:59] dlmelendez commented on #8
Hi @jennet,
I kind of gave up on accommodating N number of configuration patterns just because there are so many different ways to approach it. Either taking your approach to inherit IdentityConfiguration or simply reading the config to populate an instance of the IdentityConfiguration class works just fine. Glad you got it working!
Thanks,
Dave

[2016-11-30 11:55] kroniak opened #9 "Exception on wrong table prefix or table name"
**Environment**: your net core sample

**When happen**:
Change table prefix with underscore or one unsupportable symbols.
Tables on startup will not created and there are no warning or exceptions. When login action are invoked, they throw a exception.

**Exception**:
System.AggregateException: One or more errors occurred. (Cannot access a disposed object.
Object name: 'System.Net.Http.WinHttpRespo

[2016-12-11 02:30] dlmelendez commented on #9
I am taking a look at this and see if the behavior on Core 1.1 is the same.

[2016-12-11 15:04] kroniak commented on #9
@dlmelendez on Core 1.1 is the same.

[2016-12-12 16:58] dlmelendez commented on #9
@kroniak not sure there is much I can do about this behavior. This is error is getting eaten somewhere in the middleware. I am not catching any errors in the CreateAzureTablesIfNotExists code path. I think the behavior you are seeing would happen on any unhandled exception that pops during startup.

[2016-12-20 20:51] #9 closed

[2016-12-20 20:52] dlmelendez opened #10 "RoleStore doesn't implement IRoleClaimStore<TRole>"
RoleClaim functionality missing.

[2016-12-21 02:46] dlmelendez opened #11 "UserStore doesn't implement IUserAuthenticationTokenStore<TUser> for storing external tokens"

[2016-12-22 07:24] tiksn opened #12 "WindowsAzure.Storage dependency issue"
I can't update ElCamino.AspNetCore.Identity.AzureTable from version 1.6.1 to 1.6.2 because your NuGet strictly depends on WindowsAzure.Storage 7.1.3-preview. I have WindowsAzure.Storage 8.0.0 for all my solution projects. Please fix this issue.

`error: Version conflict detected for WindowsAzure.Storage.
error:  MobileWebService (>= 1.5.0) -> DataModel  -> WindowsAzure.Storage (>= 8.0.0)
error:  M

[2016-12-22 17:46] dlmelendez commented on #12
@tiksn this was put in place for issue #7 where there was a bug in the Windows.Storage package in 7.2 and 7.2.1 causing a priority 0 failure. Working to release 1.6.5 in the next day or so with an update to include Windows.Storage 8.0 which fixes the problem. I just tested the updated storage library and it looks good to go. Stand by for release.
Thanks for reporting the issue.

[2016-12-22 18:39] dlmelendez opened #13 "Nuget.exe build failure on pack"

[2016-12-23 01:30] dlmelendez commented on #13
https://github.com/dlmelendez/identityazuretable/releases/tag/v1.6.5

[2016-12-23 01:30] #13 closed

[2016-12-23 01:31] dlmelendez commented on #11
https://github.com/dlmelendez/identityazuretable/releases/tag/v1.6.5

[2016-12-23 01:31] #11 closed

[2016-12-23 01:31] dlmelendez commented on #12
https://github.com/dlmelendez/identityazuretable/releases/tag/v1.6.5

[2016-12-23 01:31] #12 closed

[2016-12-23 01:31] dlmelendez commented on #7
https://github.com/dlmelendez/identityazuretable/releases/tag/v1.6.5

[2016-12-23 01:31] #7 closed

[2016-12-23 01:32] dlmelendez commented on #10
https://github.com/dlmelendez/identityazuretable/releases/tag/v1.6.5

[2016-12-23 01:32] #10 closed

[2016-12-25 16:12] am11 commented on #5
I implemented a single sign-on service using this David's ElCamino table storage provider. One of the requirement was to get all Users loaded in memory at the application startup (singleton service).

Although bit of a performance hit, but I managed to simulate the "IQueryably get-all-users" behavior using this patch (on top of some old commit.. from Codeplex days):

[code]

Each time a user is cr

[2017-01-23 22:16] CodeEXc opened #14 "identityazuretable with IdentityServer4?"
Hi @dlmelendez,
does identityazuretable works with a IdentityServer4?

Thank you

[2017-01-23 23:21] dlmelendez commented on #14
Yes! Follow the directions on the IdentityServer4 site https://identityserver4.readthedocs.io/en/release/quickstarts/6_aspnet_identity.html with the instructions https://dlmelendez.github.io/identityazuretable/#/walkthroughcore to modify the IdentityCore settings. I have tested the basic authentication workflows and seems to work well.
Thanks,
Dave

[2017-01-23 23:21] #14 closed

[2017-04-05 12:32] bradjolicoeur opened #15 "How To Manually Add Role to User"
I have only two users that need and admin role for my app and I was hoping to avoid creating a user management UI.  Is there a way to manually add the roles to a user using Azure Storage Explorer?

I assume I need to make an entry in the AspNetRoles table, but I'm not sure what to put in each column.

[2017-04-05 17:16] dlmelendez commented on #15
@bradjolicoeur unfortunately, using the Azure storage explorer would be a lot of work to get the users and roles added properly. I would recommend modifying the unit test to create the roles and then assign them to your users. Take a look at [CreateRole ](https://github.com/dlmelendez/identityazuretable/blob/master/tests/ElCamino.AspNet.Identity.AzureTable.Tests/RoleStoreTests.cs) test for creatin

[2017-04-07 01:24] bradjolicoeur commented on #15
@dlmelendez  Thank you for the advice.  I was able to use the unit tests to add the roles I needed as you suggested.

[2017-04-08 03:32] #15 closed

[2017-05-25 00:15] ardalis opened #19 "Docs Sample?"
I'm working on docs for writing custom identity providers for aspnet core. Would you be interested in assisting me with using your azure provider as a sample in the documentation?

[2017-05-25 03:03] dlmelendez commented on #19
@ardalis Sure. The project is under the MIT license so just follow those guidelines where appropriate when referencing. It would great to get a link to your documentation **_if_** you are making in publicly available to share on this project site. Good luck on the docs.

[2017-05-25 03:19] ardalis commented on #19
Sounds good. To be clear I'm referring to the docs.asp.net docs. Thanks.

Steve Smith

[2017-05-25 04:01] dlmelendez commented on #19
Cool. Look forward to checking it out.

[2017-05-25 04:01] #19 closed

[2017-06-21 12:46] rgathub opened #20 "Claim Key Deletion Error"
I am storing access token from an oAuth transaction in claims, when I add the claim it works fine but when I try to delete the claim, the azure table sends a 400 bad request every time.

After troubleshooting for a while, I removed the claim value from the rowkey and generated new keys with only using the claimType. Now it is working fine. UriEncodeKeyHelper.cs --> Line: 63.

I was wondering why a

[2017-06-21 22:02] dlmelendez commented on #20
@rgathub Just curious which package (aspnet or aspnetcore) are you using and what version? Could you attach a sample of what the claim value that reproduces the error?
Thanks,
Dave

[2017-06-22 11:28] rgathub commented on #20
@dlmelendez  I am using the aspnet package and the latest code. (Key Version 1.66)

Sample Claim Value: EAABdGMzTwv8BALkEPOvXXRz3LNo6l77ymX75OO3gzadoxYLOs7KrMBi2zdjqULQ2CJAGUgwwsEGRFo2XIp0JPvoJEvaQdXgXZB1UzX8plkawZAdC93btP6lZBHettE0kfB91RODbWaj1aJbr3ejytBKq7vyP4mWq8lA9DWzCgZDZD

[2017-06-23 17:13] dlmelendez commented on #20
@rgathub Thanks for the repro info and I was able to confirm the issue. Looks like the rowkey is exceeding the maximum size.
I guess I never answered your original question: the claim value is part of the key because the api supports multiple claim values for the same claim type. The claim value is an important part of the key in the remove operation.
It looks like I need to revisit the claim key

[2017-06-24 14:50] rgathub commented on #20
@dlmelendez  Thanks :) . Please let me know if I can be of any help.

[2017-06-29 07:48] Niklas-Peter opened #21 "Incorrect time shift for LockoutEndDateUtc"
My local time (Germany) is UTC+2.

I set
`options.Lockout.DefaultLockoutTimeSpan = TimeSpan.FromHours(4); `

and forced the lockout at 7.30 (UTC). However, in the database 9.30 is saved instead of the expected result 11.30. I think it is caused by your time conversions. Using the EntityFramework ASP.NET Identity storage it works as expected.

[2017-06-29 17:41] dlmelendez commented on #21
@Niklas-Peter Thanks for reporting this. Yes, it looks like this logic was moved from the EF store into the UserManager at some point. Which package (aspnet or aspnetcore) are you using and what version?
Thanks,
Dave

[2017-06-29 17:44] Niklas-Peter commented on #21
The current version for ASP.NET core: ElCamino.AspNetCore.Identity.AzureTable 1.6.6

[2017-07-12 06:11] dlmelendez commented on #21
@Niklas-Peter  Fixed in release 1.6.7. Thanks, Dave

[2017-07-12 06:11] #21 closed

[2017-08-06 01:31] incandera opened #22 "Error on removing from Role"
David, thanks for your work on this great library; have been able to successfully implement and use the basic cases fully.

However, I am running into some unexpected behavior when removing a User from a Role with a full-on many-to-many scenario, i.e. with many Users in many Roles. This is using the **ASP.NET MVC5** version.

**Example**:

- Role **A**, Role **B**, Role **C**
- User 1
- User 1 is

[2017-08-10 19:06] dlmelendez commented on #22
I will take a look and see if I can repro this issue.

[2017-08-11 17:30] dlmelendez commented on #22
@incandera I think you are referring UserManager.RemoveFromRoleAsync() . This signature is public virtual Task<IdentityResult> RemoveFromRoleAsync(TKey userId, string role); in the UserManager. However, it takes the role:name as the string:role parameter not the role:id. That might be the problem you are running into. Take a look at the test method AddRemoveUserRole() at line 1048 https://github.c

[2017-08-12 16:49] incandera commented on #22
Hi Dave, thanks for looking further into this. Unfortunately, that doesn't seem to be it. Given a role with:

**Id**: "R_ACCOUNT_20MANAGER"
**Name**: "Account Manager"

Passing in the **Id** results in the behavior described in the original issue description. But passing in the **Name** results in the RemoveFromRole() method returning false with "User is not in role"... Regards, Allen

[2017-08-13 20:44] xperiandri opened #23 "ASP.NET Core Identity 2.0 support"

[2017-08-26 08:00] DreamingDevs commented on #23
@dlmelendez Please let us know when can we expect support for ASP.NET Core 2.0?

[2017-08-27 01:04] xperiandri commented on #23
@dlmelendez, I created pull request.
You can pack a package from my sources meanwhile.
Anyway we want to know when

[2017-08-28 16:26] dlmelendez commented on #23
@xperiandri appreciate the pull request. It is a big request and it will take time to review and test it all. I have a pending change for the last release 1.7 to support classic identity and core 1.x to go out first and then this feature is top priority. I, like all of you, have a day job too, so I will do my best to get this release in the next week or so.

[2017-08-28 19:23] dlmelendez commented on #20
Fixed in release 1.7. Data migration needed.

[2017-08-28 19:23] #20 closed

[2017-08-28 20:12] xperiandri commented on #23
Thanks
If you still want to keep Core 1.x and full framework builds, you would better take my refactored tests first.
As basically I don't remember that I changed anything in your logic but only removed cross compile directives.

[2017-08-29 13:14] rgathub commented on #20
Thanks @dlmelendez

[2017-09-05 22:02] dlmelendez commented on #23
There is some weird windowsazure.storage library exceptions happening on loading a net461 test project with the netstandard2.0 elcamino library. The storage library team is working on [netstandard2.0 support ](https://github.com/Azure/azure-storage-net/issues/491)but it is not ready yet and I think it will solve the problems. Basically, the storage library is only working on the netstandard2.0 in

[2017-09-05 22:05] dlmelendez commented on #5
There may be some hope to bring this back with the Storage team looking to bring back linq in netstandard2.0 release: https://github.com/Azure/azure-storage-net/issues/491

[2017-09-21 06:03] dlmelendez commented on #23
v2.0 released.

[2017-09-21 06:03] #23 closed

[2017-10-07 08:44] AidanRRR opened #26 "Cosmos db support"
Is it normal that it can't connect to cosmos (table storage)?
Gives me connection errors. Is this normal and should I just connect wit the normal storage table or am I setting it up badly?

[2017-10-09 16:55] dlmelendez commented on #26
@AidanRRR which package are you using ElCamino.AspNetCore.Identity.AzureTable  or ElCamino.AspNet.Identity.AzureTable ? and what version ?

[2017-10-09 18:04] dlmelendez commented on #26
I see what the problem is... the premium table storage (cosmos) has a different version of the storage library to connect. As a result, this project doesn't support premium table storage at this time. However, take a look at my other cosmos db compatible identity project, https://github.com/dlmelendez/identitycoredocumentdb or use a standard table storage account with this project. Thanks, Dave

[2017-10-09 18:04] #26 closed

[2017-10-09 18:39] AidanRRR commented on #26
Thank you for having a look dave, appreciated.
Didn't knew you had another cosmos db project! Cool!

[2017-10-31 20:41] CodeEXc opened #27 "Works identityazuretable with AspNetCore WebAPI?"
Hi,

I want create a AspNet Core Web API application with a JWT Bearer Authentication for a mobile solotion.
Does anyone have experience creating an authentication API with Azue Tables?

Many thanks!
CodeEXc

[2017-10-31 22:49] dlmelendez commented on #27
You bet Azure Tables will work in this scenario. However, you need to check out and use IdentityServer4 with AspNetCore.Identity.  Check out this quickstart on IdentityServer4 and just plug in the Azure Tables Identity provider instead of using the EntityFramework provider. https://github.com/IdentityServer/IdentityServer4.Samples/tree/2.0.0/Quickstarts/6_AspNetIdentity . Hope this gets you pointe

[2017-11-03 20:29] #27 closed

[2017-11-20 20:56] tbasallo opened #28 "Invalid Table Prefix Fails Silently"
After going through code again and again and comparing my code to the samples, I realized that the underscore ("_") in my prefix might be causing for my setup not to work.

Sure enough, changing from ID_ to ID fixed the issue. The tables were created as expected.

I think that an exception should be thrown to keep people sane :)

[2017-11-20 21:34] tbasallo commented on #28
Just came across this https://github.com/dlmelendez/identityazuretable/issues/9

Not sure if an internal check for known invalid name would help. Feel free to close if you still feel the wontfix applies. I'm not closing just in case you want to reconsider.

[2017-12-27 16:36] schillma opened #29 "Extending the basekeyhelper class to support tenant id"
@dlmelendez, I read the "Feature Request to support Multi-tenancy w/ change to Partition Key" post.  You mention a plan to extend the basekeyhelper class. Did you complete this change? If so, how would you extend it to support putting a tenant id in the partition key?

Thanks for considering my request,
Mark

[2017-12-28 02:24] dlmelendez commented on #29
@schillma, I did consider refactoring the basekeyhelper class but decided against it because it got pretty messy especially from a data migration path perspective. The easiest way to implement a multi-tenant environment would to leverage the table naming prefix for each tenant. Hopefully, this approach works for you.
-Dave

[2017-12-28 18:59] dlmelendez commented on #28
@tbasallo I feel your frustration on this one. I think the answer might be to add logging to project to surface the errors raised. This might be good solution to cover more than just this particular scenario.

[2017-12-28 22:31] schillma commented on #29
@dlmelendez , Thanks for your recommendation. Mark

[2017-12-28 22:31] #29 closed

[2018-01-25 16:19] espray opened #32 "Multitenancy support"
Is multi tenant supported by either

- StorageConnectionString per tenant
- Individual tables per tenant
- Tenant id on the ApplicationUser

If so, any samples.

[2018-01-30 23:06] dlmelendez commented on #32
The easiest way to implement a multi-tenant environment would to leverage the table naming prefix for each tenant. https://dlmelendez.github.io/identityazuretable/#/walkthroughcore2 take a look at the IdentityConfiguration.TablePrefix property to add a prefix to the tables within the same storage account. Hopefully, this approach works for you.

[2018-02-07 20:14] #32 closed

[2018-03-23 07:21] ClydeDz opened #33 "How to make the storageConnectionString an env variable?"
Hey David,

I was following [this guide](https://dlmelendez.github.io/identityazuretable/#/walkthrough) to connect my app with table storage and it all works fine.

However, I had a question - the connection string of the table storage need to be specified like this according to the documentation: `<elcaminoIdentityConfiguration tablePrefix="" storageConnectionString="UseDevelopmentStorage=true" /

[2018-03-23 08:11] dlmelendez commented on #33
This is related to #8 . If there is one thing I never should have implemented in this project, it is this typed configuration. Note, this is completely fixed in the .Net Core (most current release) of the package.
It isn't too hard to work around in this version either. Change:`public ApplicationDbContext() : base()
{}`
to
`public ApplicationDbContext(IdentityConfiguration config): base(config){}`

[2018-03-23 10:28] ClydeDz commented on #33
Hey David,

Thanks for your prompt reply. Yes, that solves the problem indeed.

Thanks,
Clyde

[2018-03-23 10:28] #33 closed

[2018-04-27 11:00] af-mst opened #34 "Tables Names in IdentityConfiguration"
Hi,

could you please include the Tables Names from the "Constants.TableNames" into the "IdentityConfiguration" class?
Maybe user the constants as defaults.

I don't want to fork or copy paste your code. I like to stay up to date with your changes ;)

Kind Regards
Mario

[2018-04-27 15:30] dlmelendez commented on #34
Will using the TablePrefix in the configuration get you going? This prepends whatever you want to the Constants.TableNames as long as it stays within Azure table naming convention.

[2018-05-02 07:35] af-mst commented on #34
Hi,

thanks for replying, but no it will not be enough.
I just forked the project now and changed the constants into
appsettings-variables.
But I am realy thankful for your library.
Great work :)

Kind Regards
Mario

2018-04-27 17:30 GMT+02:00 David Melendez <notifications@github.com>:

--
----------------------
Mit freundlichen Grüßen / Kind Regards
Mario Streubel
Senior Backend Entwickler
APPSfa

[2018-05-09 09:57] RemiBou opened #35 "Immutable unique user identifier"
Hi,

First of all thanks for the great work, this project works really great :)

I have a small issue : if I let my user edit their username like here (https://github.com/RemiBou/Toss.Blazor/blob/master/Toss/Toss.Server/Controllers/AccountController.cs see Method Index) , their RowKey will change and all my reference in other tables will be lost. is there anyway either on the current project on wi

[2018-05-09 14:33] critot commented on #35
Hi,
this is a good idea.. in my app I'm setting the UserName like a combination of inserted Name and LastName; then I protect those fields with Data Protection for GPDR rules, and when I call
 await _userManager.CreateAsync(user,...
I receive a BadRequest because PK and RK doesn't work with the cryptographic string.
It's possible to have an option that permit to work with PK and RK immutable and i

[2018-05-11 09:45] RemiBou commented on #35
Ok I'll try to send a PR asap. Do you think I should enable it for V1 ? or just V2 ? Is the doc on github as well ?

[2018-05-11 10:10] RemiBou commented on #35
What should I test before ? Create/Update of course but is there anything that generates the ids instead of getting it from the ApplicationUser ? In the indexes or something. The findbyname and findbyid must change as well I guess

[2018-05-11 10:56] RemiBou commented on #35
Hi I sent this PR https://github.com/dlmelendez/identityazuretable/pull/36 , what do you think about it ?

[2018-05-11 14:15] dlmelendez commented on #35
Any chance you have time to update the https://github.com/dlmelendez/identityazuretable/tree/master/src/ElCamino.Identity.AzureTable.DataUtility project that would handle insert/updating the name id/username index?

[2018-05-11 14:26] RemiBou commented on #35
I should update LoginMigrateIndex.cs and add the index insertion here right
?

2018-05-11 16:24 GMT+02:00 Rémi BOURGAREL <bourgarel.remi@gmail.com>:

--
Rémi BOURGAREL
Téléphone : +33 6 95 25 45 60
Adresse : 99 Avenue Emmanuel Maignan , 31 200 Toulouse, France

[2018-05-11 14:28] RemiBou commented on #35
Or you need a new implementation for IMigration for creating the user name index ?

[2018-05-11 14:52] dlmelendez commented on #35
New IMigration implementation for creating the user name index.

[2018-05-11 14:53] dlmelendez commented on #35
That way we can separate concerns and add specific switches for each operation.

[2018-05-22 10:06] RemiBou commented on #35
david, I was off this week, you'll get this PR today

[2018-07-28 01:08] spelltwister opened #38 "Cannot add claims to user. An item with the same key has already been added."
Hello -

I've been using your libraries for a while now going back to asp.net 4 and am so thankful that you created this project :) 👍

I updated my website to Asp.net core 2.1 using razor pages.  Originally, I was targeting netcoreapp2.1 and everything was working great.  I could create users and add claims to them no problem.  Authorization Policies were able to see the claims and all was well.

[2018-07-28 02:32] spelltwister opened #39 "how to create branch"
Hello,

I'd like to create a branch and submit pull request for this project.  Is it possible?  If not, I would like to suggest a few things here.

1.  ForEach extension method.  This will help you remove intermediate list creation just to get ForEach semantics.
[code]

2.  Improved LINQ for building task lists.
In UserStoreV2, This:
[code]
can be simplified to this:
[code]
and this:
[code]
can be

[2018-10-08 01:11] schey opened #40 "@if (SignInManager.IsSignedIn(User)) in _LoginPartial.cshtml never returns Success"
Hi,

I'm using the _LoginPartial.cshtml from identity scaffolding. It is supposed to switch to logged on view based on this 'if' statement but it never does.  ```ClaimsPrincipal User``` is empty.

I'd appreciate your advise.

Thanks for putting this together. It really feels solid and much needed!
I just onboarded this project, and trying to integrate into a new solutions (and new to asp.net core,

[2018-10-08 07:05] schey commented on #40
Resolved: Apparently the order of services hookup in startup is important. I moved ```app.UseAuthentication();``` up and that did it.

[2018-10-08 07:05] #40 closed

[2018-12-06 19:15] MatthewSteeples opened #41 "ProjectUrl on NuGet is out of date"
Very minor issue, but the Project URL when you find this package on NuGet is still showing https://identityazuretable.codeplex.com

[2019-05-13 04:57] davidnx opened #42 "Improper string escaping (possible security issue)"
Class [`UriEncodeKeyHelper`](https://github.com/dlmelendez/identityazuretable/blob/31244dd3167fdfeb049a0bbb4dcbce26debd1ce5/src/ElCamino.AspNetCore.Identity.AzureTable/Helpers/UriEncodeKeyHelper.cs) does not properly escape user input and different strings can be escaped into the same value, potentially opening up space for security issues.

E.g. method [`UriEncodeKeyHelper.EscapeKey`](https://git

[2019-06-06 20:20] kfallstrom commented on #35
@dlmelendez just wondering if this is still a pending PR.  Our org is looking at the library and wanted to see whether this feature might be merged.

[2019-06-07 21:41] dlmelendez commented on #35
Yes! Thanks for reminding me of this one. I will have some time this coming week to get this pr merged and tested.

[2019-06-07 21:45] dlmelendez commented on #42
@davidnx I get what you are saying. I believe the solution here is to finishing merging the pr for #35 . That way, the immutable identifier is exposed in the claims and these ids formatted for ATS keys stay internal to the library/app domain.

[2019-06-07 21:46] dlmelendez commented on #41
@MatthewSteeples I will get this fixed in the next release. Thank you!

[2019-06-07 21:51] dlmelendez commented on #38
@spelltwister Unfortunately, this issue has come up before with the WindowsAzure.Storage library. Check out #12 . It is frustrating that this bug keeps showing up but this is an issue with the storage library. The Windows.Storage library is officially deprecated on taking changes as the MS Cosmos DB team is going to take over the library. Not sure where this bug will land on their priority scale.

[2019-06-07 21:52] #28 closed

[2019-06-08 01:07] dlmelendez commented on #38
@spelltwister While this is a bug in the underlying storage library, I just found a workaround. Removing the Id property override seems to fix the problem. I will get this fix put into next release.

[2019-06-08 16:19] dlmelendez commented on #34
Easy enough. This will go into next release.

[2019-06-08 22:21] dlmelendez commented on #41
The project url looks correct on nuget.org and in the vs nuget package manager.

[2019-06-08 22:21] #41 closed

[2019-06-11 00:11] dlmelendez commented on #42
v2.2.1 fixed.

[2019-06-11 00:11] #42 closed

[2019-06-11 00:11] dlmelendez commented on #38
v2.2.1 fixed.

[2019-06-11 00:11] #38 closed

[2019-06-11 00:11] dlmelendez commented on #35
v2.2.1 fixed.

[2019-06-11 00:11] #35 closed

[2019-06-11 00:12] dlmelendez commented on #34
v2.2.1 fixed.

[2019-06-11 00:12] #34 closed

[2019-06-11 06:14] gep13 commented on #39
@spelltwister not sure if you ever got round to this, or if it was implemented for you, but this is a good guide on how to contribute to a GitHub project:

https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2019-06-11 06:20] gep13 opened #45 "Question about Login/Register views and controllers"
I recently created a new ASP.NET MVC project using `dotnet new mvc --auth Individual` and tested that everything was working.  i.e. I clicked on the Register button, I created an account, I then logged out, and logged back out again, and everything worked as expected.  All of this was done using the Sqlite Database for persistence.

I then followed the guide here:

https://dlmelendez.github.io/ide

[2019-06-11 15:16] dlmelendez commented on #45
@gep13 There is a working sample  here https://github.com/dlmelendez/identityazuretable/tree/master/sample/samplemvccore2 that should be able to answer your questions on implementation.

[2019-06-11 19:26] gep13 commented on #45
@dlmelendez looking at your sample, and comparing it to what has been generated from the `dotnet new mvc --auth Individual` command, it is clear that your sample has a number of additional Controllers and Views, which are not included in the site that was generated from the `dotnet new` command.

Can I ask where you generated the sample projects from?

Do you have any examples or documentation aro

[2019-06-11 20:10] dlmelendez commented on #45
@gep13 This sample was created before the Razor Scaffolding feature was introduced. More about that here https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.2&tabs=visual-studio#scaffold-register-login-and-logout . The project has not implement any dotnet new templates. If you would like to contribute one, that would be great.

[2019-06-11 21:08] gep13 commented on #45
@dlmelendez I would love to, but currently I can’t get it to work, and I was hoping that you might be able to provide some guidance.  I believe I can add all the “bits” and the builds and compiles correctly, including creating the tables in Azure Storage, however, the Login/Register links on the template remain non functional.

Do you have any ideas on what can be done to make these work?  I will

[2019-06-12 07:02] gep13 commented on #45
@dlmelendez just wanted to follow up to say that the link that you provided got me to a solution 😄

I scaffolded out all the Account related pages, and then updated them all to use ApplicationUser, rather than IdentityUser, as well as change some pages to use the implementation of IEmailSender, and then everything worked as expected.

I was also then able to change to include GitHub as an Authenti

[2019-06-12 07:02] #45 closed

[2019-06-13 07:15] RemiBou commented on #35
@dlmelendez thanks for merging, I moved on to ravendb but I hope it'll help other.

[2019-07-10 09:57] Charmatzis opened #46 "How Role, Claim and Token is supported?"
Hi,
first of all great job!!!!

I just want to ask a simple question which I don't get it 100%

Here https://github.com/dlmelendez/identityazuretable/blob/master/sample/samplemvccore2/Startup.cs#L39 you are saying "if your code depends on the Role, Claim and Token … to use .AddAzureTableStores"

 If I want to use Role, Claims and Tokens should I use .AddAzureTableStores with IdentityUser?
and if m

[2019-07-10 16:48] dlmelendez commented on #46
@Charmatzis the older versions of the IdentityUser entity produced by the MS team has the properties of Roles, Claims and Tokens as property collections on the IdentityUser... e.g. IdentityUser.Roles, Identity.Claims, and Identity.Tokens. They made a breaking change in the IdentityUser entity removing these properties on the IdentityUser which I have paralleled with the IdentityUserV2. The Identit

[2019-07-11 05:35] Charmatzis commented on #46
Wow, cool!!!!

I am starting a new apt.net core application, so I will use IdentityUserV2. So I will do the next days a PR in the samples on how to implement AddAzureTableStoresV2 with the new asp.net core template.
How do you want to be named? e.g. samplemvccore3? under the folder /samples?

[2019-07-11 08:14] dlmelendez commented on #46
@Charmatzis appreciate the PR! I will have a look in the next few days. There is always a ton of code with these to look at :). Closing this issue and will work on the PR when I get a few minutes.

[2019-07-11 08:14] #46 closed

[2019-09-02 19:16] tbasallo opened #48 "Claims Support for IdentityUserV2"
The latest release has an obsolete warning on IdentityUser and recommends the move to V2. However, V2 does not support claims (or roles).

Is there guidance on using V2 with claims or is there a different plan all together for claims?

[2019-09-02 19:22] tbasallo opened #49 "Breaking Changes in 2.2?"
I upgraded to 2.2 not thinking to much about it and it seems that there are breaking changes related to how usernames are saved based on user ID and user names (from what I was able to walk though in the latest commits). Logins that previously worked no longer work.

Recreating the same user created different entries.

Is that right?

[2019-09-09 16:53] dlmelendez commented on #49
Yes, please check the release notes for breaking changes https://github.com/dlmelendez/identityazuretable/releases . The instructions for upgrading can be found here https://dlmelendez.github.io/identityazuretable/#/migration

[2019-09-09 16:53] #49 closed

[2019-09-09 16:56] dlmelendez commented on #48
@tbasallo please check out issue #46 for the response.
Duplicate of 46#

[2019-09-10 15:16] #48 closed

[2019-10-09 23:42] tbasallo commented on #49
Thanks, worked as advertised.

[2019-10-13 02:49] dlmelendez commented on #39
The latest release covered this ask. However, .ConfigureAwait(false) use has been abandoned by the Identity team since it really only affects the .NET Framework and not .NET core in AspNet apps. AspNet Core doesn't try to sync to the entry thread. I did put in the .ConfigureAwait(false) in since it didn't seem to have a negative affect on the library.
As far as the branch creation, basic requireme

[2019-10-13 02:49] #39 closed

[2019-10-13 02:59] dlmelendez commented on #22
No longer testing on AspNet MVC5. No repro on current code base.

[2019-10-13 02:59] #22 closed

[2019-10-20 18:40] dlmelendez opened #52 "Identity.AzureTable 3.0 forces upgrade to .net core 3 in some cases"
Adding the 3.0 package to a .netcoreapp2.0 or .net461 forces an upgrade to the 3.0 dependency chain. Need to only use 3.0 dependencies when targeting .netstandard2.1 (.net core 3).

[2019-10-20 22:52] #52 closed

[2020-01-13 13:18] rvplauborg opened #53 "Not possible to override ReadEntity/WriteEntity"
Hello,

While using your library, thanks by the way, we had the need to store a more complex data type in our user table. Since Azure Table Storage does not support any complex data types, we had to hook into the `WriteEntity`/`ReadEntity` calls from `ITableEntity`. In `IdentityUser<T>`, which implements `ITableEntity`, the methods are not virtual, meaning we could not simply override them. Instea

[2020-01-14 07:21] dlmelendez commented on #53
Easy enough. I will get this into a minor release.

[2020-01-14 19:14] dlmelendez opened #54 "Refactor KeyHelper into IKeyHelper interface"
Removes the concrete dependency on static class KeyHelper.
Opens up possibility for custom key formatters in the future.
First step in moving .Model namespace to separate assembly

[2020-01-14 19:19] dlmelendez opened #55 "Test against LTS versions"
Change tests from 2.2 and 3.0 to Long Term Supported versions 2.1 and 3.1 respectively

[2020-01-14 21:15] #53 closed

[2020-01-14 21:15] #54 closed

[2020-01-14 21:15] #55 closed

[2020-02-19 20:05] ArvindRSingh opened #57 "Trying to use this in API project"
`services.AddIdentityServer()
                .AddApiAuthorization<CloudUser, CloudContext>();`

It shows 2 errors:

1. Error	CS0311	The type 'DataAccess.CloudContext' cannot be used as type parameter 'TContext' in the generic type or method 'IdentityServerBuilderConfigurationExtensions.AddApiAuthorization<TUser, TContext>(IIdentityServerBuilder)'. There is no implicit reference conversion from 'D

[2020-02-20 00:12] dlmelendez commented on #57
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1#configuration-through-code
.AddApiAuthorization is an extension of IdentityServer to configure IdentityServer configuration store. This project does not affect the .AddApiAuthorization extension method for IdentityServer.
This project only manages the user, role, claims and token sto

[2020-02-20 00:26] dlmelendez commented on #57
Slight correction, .AddApiAuthorization is a Microsoft extension method, not an IdentityServer extension, but wraps several IdentityServer configuration properties.

[2020-02-20 00:28] #57 closed

[2020-04-20 06:23] savind opened #58 "UserManager.GetRolesAsync failing in 3.1 after migration from 1.7"
I  migrated from  1.7  to  latest using the tool. Used  samplemvccore to test.
login works fine, I  injected UserManager<IdentityUser> in home controller  and  used
`var roles = UserManager.GetRolesAsync(user).Result;`
to test  roles. It always returns empty list.

Debugging it, I get  the  count of expected two  roles in  UserStore.cs  on line number 140.
`int userRoleTotalCount = userRoles.Count

[2020-04-20 06:53] savind commented on #58
MIgrating roles also did not help. still  the Roles table is  empty.

[2020-04-21 20:51] dlmelendez commented on #58
when you run
ElCamino.Identity.AzureTable.DataUtility.exe /preview:roles
does it show any roles to migrate?

[2020-04-21 21:22] savind commented on #58
ElCamino.Identity.AzureTable.DataUtility.exe /preview:roles result is 0.

[2020-04-21 21:38] savind commented on #58
I updated the code in the UserMigration.cs to work around the issue.
In function ConvertToTargetUserEntities, while copying roles (block starting at line number 200), I added following lines to update the roles table.

`string roletablepk = _keyHelper.GeneratePartitionKeyIdentityRole(roleName);
string roletablerk = _keyHelper.GenerateRowKeyIdentityRole(roleName);
DynamicTableEntity tgtDteRole = ne

[2020-06-18 13:43] elvogel opened #59 "Adding User Role functionality to web app"
I'm using ASP.NET 3.1 Core and I'm trying to get user role functionality enabled and working so I can assign roles to users.

Following the 'instructions' and the source code to samplemvccore4, I get an app that has everything but user roles. When I try to follow ASP.NET documentation and add something like this in my startup:
[code]
It blows up the `CreateAzureTablesIfNotExists` method in `Identi

[2020-06-18 20:10] dlmelendez commented on #59
try this:
services.AddIdentity<IdentityUser, ElCamino.AspNetCore.Identity.AzureTable.Model.IdentityRole>(options =>
            // services.AddDefaultIdentity<IdentityUser>(options =>
            {
                options.SignIn.RequireConfirmedAccount = true;
                options.User.RequireUniqueEmail = true;
            })
This is part of the MS Identity Framework. It really isn't possible

[2020-06-18 20:15] dlmelendez commented on #59
will be merged to master next release

[2020-06-19 14:33] elvogel commented on #59
Okay thanks for the response. Two more questions:
- When is the next release?
- What is the recommendation for setting up and using claims? Will there be documentation?

Kudos for coming out with a huge money saving Identity library, it's really appreciated!

[2020-06-20 18:52] dlmelendez commented on #59
@elvogel next release will be targeting after .NET 5 in November.
Claims documentation can be found here: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/claims?view=aspnetcore-3.1
Most of the identity related implementation how to's are addressed in the MS Identity Core documentation.

[2020-06-20 19:06] dlmelendez opened #60 "Microsoft.Azure.Cosmos.Table v2 support"
Update Microsoft.Azure.Cosmos.Table to latest v2, now currently in preview.

[2020-06-20 19:07] dlmelendez opened #61 "Support for .NET 5"
Add tests for .NET 5 when it ships (currently in preview).

[2020-06-20 19:08] dlmelendez opened #62 "Web app project template for .NET 5"
Create a sample web app using .NET 5.

[2020-06-20 19:10] dlmelendez opened #63 "Investigate support for Cosmos Premium Tables"
Assess whether to support Cosmos Premium Tables from this package.

[2020-07-30 06:48] elvogel commented on #59
When I try using the code you mentioned above, it creates an additional entry in the Users table with the role name. When I try querying for it using the `_userManager.GetRolesAsync` method, it doesn't pull up. It also doesn't seem to work with the `[Authorize(Role = "RoleName"]` attribute.

[2020-07-30 16:24] dlmelendez commented on #59
@elvogel  The test AddRemoveUserRole starting line 66 https://github.com/dlmelendez/identityazuretable/blob/966cbb5b961b644bbb7d8f86b94db26c2df1d795/tests/ElCamino.AspNetCore.Identity.AzureTable.Tests/BaseUserStoreTests.cs shows the path to creating a role and testing GetRolesAsync(). You will need to create the role first in with the RoleStore.Create and then add it to the user with the UserManag

[2020-08-03 15:43] dlmelendez opened #64 "Evaluate .ConfigureAwait(false) for async operations"
Use https://devblogs.microsoft.com/dotnet/configureawait-faq/ as guide to evaluate the use of .ConfigureAwait(false) within the project.

[2020-08-11 02:49] dlmelendez opened #65 "Security issue with bootstrap in sample code"

[2020-09-16 00:12] AlexMedia opened #67 "Changing Username does not purge index records"
I'm currently working on a project with the following set-up:

- ASP.NET Core MVC 3.1.8, using the default Identity platform
- Default configuration: username = email, requiring unique emails and confirmed accounts
- Using ElCamino.AspNetCore.Identity.AzureTable v3.1.0, acquired from NuGet

I have come across an issue whereby the old username is not freed up after changing it via the Account area.

[2020-09-17 20:24] dlmelendez commented on #67
@AlexMedia appreciate you filing this issue. Assigned to next release.

[2020-09-17 20:28] dlmelendez commented on #60
Microsoft.Azure.Cosmos.Table v2 looks to be abandoned. Azure.Data.Table looks to be the next release and is too early to do anything with soon. Rolling back to Microsoft.Azure.Cosmos.Table v1

[2020-09-21 05:39] dlmelendez commented on #5
Putting this into v5 for basic query functionality.

[2020-10-19 17:34] dlmelendez commented on #67
fixed in v5-rc2

[2020-10-19 17:34] #67 closed

[2020-10-19 17:34] dlmelendez commented on #65
fixed in v5-rc2

[2020-10-19 17:34] #65 closed

[2020-10-19 17:35] dlmelendez commented on #64
fixed in v5-rc2

[2020-10-19 17:35] #64 closed

[2020-10-19 17:36] dlmelendez commented on #62
fixed in v5-rc2. Package ElCamino.AspNetCore.Identity.AzureTable.Templates for web templates

[2020-10-19 17:36] #62 closed

[2020-10-19 17:36] dlmelendez commented on #61
fixed in v5-rc2.

[2020-10-19 17:36] #61 closed

[2020-10-19 17:37] dlmelendez commented on #60
closed in v5-rc2. Revisit with new issues for Azure.Data.Table package later.

[2020-10-19 17:37] #60 closed

[2020-10-19 17:38] dlmelendez commented on #59
closed in v5-rc2.

[2020-10-19 17:38] #59 closed

[2020-10-19 17:39] dlmelendez commented on #5
fixed in v5-rc2.

[2020-10-19 17:39] #5 closed

[2020-10-19 17:47] dlmelendez opened #70 ".net 5 final release"
Take any late breaking changes to support final release of .net 5

[2020-11-12 01:19] dlmelendez commented on #70
done.

[2020-11-12 01:19] #70 closed

[2020-11-16 05:53] Rambalac opened #71 "External login tokens are not saved."
I'm trying to add login through Google to access some Google APIs but I cannot get Google Bearer token after login and it's not saved anywhere in the Storage. I do see Bearer token in OnCreatingTicket but I cannot find its content anywhere after.
Am I missing anything?
[code]

[2020-11-16 08:24] dlmelendez commented on #71
I would start with a working new project with the storage provider setup. You can find the dotnet new template instructions here https://dlmelendez.github.io/identityazuretable/#/walkthroughcore5. Once you confirm the login info is being stored in Azure storage, add your google provider information (which seems to be working) more info here https://docs.microsoft.com/en-us/aspnet/core/security/aut

[2020-11-16 17:10] dlmelendez opened #72 "Upgrade to SDK Azure.Data.Tables"
Investigate new SDK Azure.Data.Tables beta.

[2020-12-16 19:30] anredy opened #73 "Custom user model results in 400 - Bad request"
I would like to add few more properties to the IdentityUser model. So, I derived a model from ElCamino.AspNetCore.Identity.AzureTable.Model.IdentityUser used it for Registration. But, anytime I tried to save the model, I get this error. Anyone had success in custom user models?

[code]

[2020-12-16 20:33] anredy commented on #73
Sorry, my bad. The request was failed due to bad data.

[2020-12-16 20:33] #73 closed

[2021-02-15 03:22] davidnx opened #74 "CreateAzureTablesIfNotExists throws when TUser is not public, does not wait for completion"
The extension method `IdentityBuilder.CreateAzureTablesIfNotExists` has a nasty use of `dynamic` to invoke `UserStore.CreateTablesIfNotExistsAsync`. Not only does this prevent type safety checks the compiler could help with, it also causes runtime issues that pose a terribe debugging experience when using an internal `TUser` instantiation.

Problematic code:
https://github.com/dlmelendez/identitya

[2021-02-15 03:40] davidnx commented on #74
Suggested fix without large refactoring: Add an internal interface `ICreateTablesIfNotExistsAsync` that `UserStore` will implement. Now `IdentityAzureTableBuilderExtensions.CreateAzureTablesIfNotExists` can explicitly cast the object it got to this new interface, and invoke `CreateTablesIfNotExistsAsync` on it. This doesn't achieve compile-time type safety, but mitigates the other concerns.

[2021-02-15 04:57] davidnx opened #75 "IdentityCloudContext shouldn't have paramaterless constructor"
The presence of a parameterless constructor in makes it too easy for someone to derive from this class having only the default constructor, which causes manu NullReferenceExceptions in runtime since the context is only initialized when a IdentityConfiguration is passes:

https://github.com/dlmelendez/identityazuretable/blob/62f63b216dc1b67c91e4fe45886d0bb32287e2c1/src/ElCamino.AspNetCore.Identity.

[2021-02-15 05:09] davidnx opened #76 "Register TContext class as Singleton, not Scoped"
`TContext` is currently registered in DI (code snippet below) as a scoped service, which means **a new one is created for each request**. This is sub-optimal for many reasons:

* Prevents re-use of Azure Table client instances across requests
* Requires a new TLS connection to Azure Table Storage each time
* If a server using this library is serving a lot of requests, it could quickly run out of S

[2021-02-25 04:04] dlmelendez commented on #75
Seems like a low priority issue, but I will take a look.

[2021-02-25 04:09] dlmelendez commented on #76
Seems legit, this was a carryover from previous sdk iterations where the tableClient was not thread safe. This looks safe to do, but need to investigate if the next Azure.Data.Tables sdk will have a tableClient that is also thread safe.

[2021-02-25 04:10] dlmelendez commented on #71
Closed for lack of activity.

[2021-02-25 04:10] #71 closed

[2021-06-25 07:05] SVarasteh opened #77 "UserManager.CreateAsync is not adding user to the database"
Hello,

We are using this library and sometimes we noticed that user is not adding to the database
after UserManager.CreateAsync.
We have logs for result of this function and everything looks successful in the logs but actually the user is missing in the database and this issue happens intermittently.

Any help or guideline will be appreciated how to fix this issue.
Thanks
Saeideh

[2021-08-20 13:27] jkatsiotis opened #78 "UserManager.FindByNameAsync is throwing NotImplemented Exception"
Might be something in my config or this method is not implemented? I'm trying to find a user based on Username.

"The error is The method or operation is not implemented"

Thanks,

[2021-08-22 14:26] jkatsiotis commented on #78
Wrong configuration on my end. Lib works as expected.

[2021-08-22 14:26] #78 closed

[2021-10-10 17:36] #74 closed

[2021-10-10 17:36] #76 closed

[2021-10-12 23:40] brianrak opened #83 "Questions about data migration"
Hello, Dave. Thanks for the hard work on this project.

I have a question about data migration. The page that discusses migration (https://dlmelendez.github.io/identityazuretable/#/migration) seems to indicate that data migration is only necessary when upgrading from versions earlier than 2.2. I recently upgraded from 2.2.1 to 5.1, and so I understood that to mean that I didn't need to run migrati

[2021-10-13 02:18] brianrak commented on #83
Update: I investigated this a little more and I think there is a bug here. I'll open a new issue.

[2021-10-13 02:31] brianrak opened #84 "UserManager.GetUsersInRoleAsync throws exception after upgrade from 2.2.1 to 5.1"
After upgrading Identity.AzureTable from 2.2.1 to 5.1 and running against an existing user database, I started getting exceptions when calling UserManager.GetUsersInRoleAsync. The exception is:

[code]

**When I move back to Identity.AzureTable 5.0, the error goes away.**

Also, I was unsure if I needed to run data migration on my database, so I created a replica of the database, set up a copy of

[2021-11-22 11:34] mcbridd opened #85 "IdentityCloudContext being disposed after first call to controller"
Firstly, thank you for the work put into this library.

I'm experiencing a strange issue when using the library with .NET Core 5, where I'm trying to use a UserManager with a custom IdentityUser object in my project. When I use DI with the controller, my first call to the controller works (i.e. to display the page). A post back to the same controller results in the following error:

ObjectDisposed

[2021-11-22 11:57] mcbridd commented on #85
I notice in issue 76 that the context is now declared as a singleton, but I've read in different places that UserManager is declared as scoped, so is this a possibility with my use of controllers? I'm not a DI expert, so I'm grasping at a few straws...

https://github.com/dlmelendez/identityazuretable/issues/76
https://github.com/aspnet/Identity/issues/1919
https://stackoverflow.com/questions/3936

[2021-11-22 12:03] mcbridd commented on #85
To add further confusion, I noticed that these changes **are** in my code:
https://github.com/dlmelendez/identityazuretable/commit/a2460d28da5e27f2cd68fc7b18c432669742f6dc

But these changes **are not**:
https://github.com/dlmelendez/identityazuretable/commit/b1e15c46f9ba64c8fa05c362798c1d33d9b0dc77

[2021-11-22 12:08] mcbridd commented on #85
Final update (I promise). By implementing the code in this change (which is missing when I downloaded the entire project as a ZIP file), I can confirm that my project is now working:
https://github.com/dlmelendez/identityazuretable/commit/b1e15c46f9ba64c8fa05c362798c1d33d9b0dc77

I will leave this ticket open for the authors to decide whether my approach is correct, and whether there's an issue wi

[2021-12-07 03:24] dlmelendez commented on #85
@mcbridd  Interesting. Out of curiosity, does the issue exist with the nuget package or just when you download the code from zip file?

[2021-12-07 03:24] #85 closed

[2022-01-19 01:39] Terrence77 opened #86 "Trouble with adding to Blazor 5.0 Project"
I love your great libs for using TS for Identity.  I can't seem to get it working on a Blazor project.  Been working for 2 nights on a dozen different issues but can't seem to nail it.

Have you tried your code on a Blazor project?

Thanks for any help you might give.

[2022-01-19 02:00] Terrence77 commented on #86
Oh, something I can overcome with search and replace, but it seems that your "dotnet new rzp-id-azure-tables" templates replace most of the NameSpace names with lowercase namespace.

So using and namespaces like BlazorApp1.Data becomes blazorapp1.Data after running the command.

[2022-02-05 19:30] dlmelendez commented on #77
Closing for lack of information to repro and activity.

[2022-02-05 19:30] #77 closed

[2022-02-05 19:35] dlmelendez commented on #58
This lookup logic is mirrored from  Microsoft.Identity library. I am glad you discovered a workaround.

[2022-02-05 19:37] dlmelendez commented on #83
Duplicate of #84

[2022-02-05 19:37] #83 closed

[2022-02-05 19:52] dlmelendez commented on #86
Need to investigate template naming: https://github.com/dotnet/templating/wiki/Naming-and-default-value-forms

[2022-02-05 19:55] dlmelendez commented on #58
Need to investigate this further and target v6.0

[2022-02-06 21:57] dlmelendez commented on #58
Unable to repro.

[2022-02-06 21:57] #58 closed

[2022-02-06 22:00] dlmelendez commented on #84
Unable to repro. Try v6.0 when it is released and see if you have the same issue. It is possible the ignored members in the models are causing serialization issues. The members are ignored again in the serialization in 6.0.

[2022-11-05 16:10] dlmelendez opened #98 "Add support for .net 7 target"
Add .net7.0 target.

[2022-11-05 16:11] dlmelendez opened #99 "Update dotnet new templates for .net 7"
Update the dotnet new templates for .net 7 release

[2022-11-05 16:13] dlmelendez opened #100 "Update build pipeline .net 7"
Add .net 7 cli to build pipeline.

[2022-11-05 16:19] dlmelendez commented on #84
Closing for lack of feedback on v6.0 and unable to reproduce.

[2022-11-05 16:19] #84 closed

[2022-11-09 17:46] #100 closed

[2022-11-09 17:46] #99 closed

[2022-11-09 17:47] #98 closed